.contenedorPricing {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contenedorTitulo {
  width: 787px;
}

.contenedorTitulo h1 {
  font-family: "Raleway", sans-serif;
  font-size: 40px;
  font-weight: bold;
  color: #170f49;
  text-align: center;
}

.contenedorTitulo p {
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  font-weight: 200;
  color: #708290;
  text-align: center;
}

.contenedorCards {
  display: flex;
  margin: 55px;
  gap: 55px;
}

@media (min-width: 360px) and (max-width: 768px) {
  .contenedorPricing {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .contenedorTitulo {
    width: 300px;
  }

  .contenedorTitulo h1 {
    font-family: "Raleway", sans-serif;
    font-size: 32px;
    font-weight: bold;
    color: #170f49;
    text-align: center;
  }

  .contenedorTitulo p {
    font-family: "Raleway", sans-serif;
    font-size: 16px;
    font-weight: 200;
    color: #708290;
    text-align: center;
  }

  .contenedorCards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    gap: 50px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .contenedorTitulo {
    width: 450px;
  }
}
