html,
body {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #f9fafc;
}

a {
  text-decoration: none;
}

/* Variables Globales */

:root {
  --font-family: "DM Sans", sans-serif;
  --color-primary: #170f49;
  --color-secondary: #fadcb1;
  --color-tertiary: #6f6c90;
  --color-background: #f9fafc;
  --color-background-footer: #252525;
  --full-width: 1440px;
}
