.contenedorImg {
  display: flex;
  position: absolute;
  width: 1440px;
  justify-content: flex-end;
  align-items: flex-end;
}

.contenedorImgMobile {
  display: none;
}

@media (max-width: 375px) {
  .contenedorImg {
    display: none;
  }
  .contenedorImgMobile {
    display: flex;
    position: absolute;
    width: 375px;
    justify-content: flex-end;
    align-items: flex-end;
  }
}
