.contenedorImg {
  display: flex;
  position: absolute;
  width: 1440px;
  justify-content: flex-end;
  align-items: flex-end;
}

.contenedorImgMobile {
  display: none;
}

@media (min-width: 360px) {
  .contenedorImg {
    display: none;
  }
  .contenedorImgMobile {
    display: flex;
    position: absolute;
    justify-content: flex-end;
    align-items: flex-end;
  }

  .imgMobile {
    width: 360px;
  }
}

@media (min-width: 375px) {
  .imgMobile {
    width: 375px;
  }
}

@media (min-width: 390px) {
  .imgMobile {
    width: 390px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .contenedorImgMobile {
    display: flex;
    position: absolute;
    width: 100%;
    justify-content: flex-end;
    align-items: flex-end;
  }
  .imgMobile {
    width: 550px;
    height: 625px;
  }
}

@media (min-width: 1280px) {
  .contenedorImg {
    display: flex;
    position: absolute;
    width: 100%;
    justify-content: flex-end;
    align-items: flex-end;
  }

  .contenedorImgMobile {
    display: none;
  }

  .img {
    width: 650px;
    height: 625px;
  }
}

@media (min-width: 1440px) {
  .img {
    width: 748px;
    height: 625px;
  }
}
