.featuresSection {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contenedorTitulo {
  margin-top: 25px;
}

.contenedorTitulo h2 {
  font-family: "Raleway", sans-serif;
  font-size: 40px;
  font-weight: bold;
  color: #170f49;
}

.contenedorInfo {
  display: flex;
  height: 550px;
  margin: 0 45px 0 45px;
}

.contenedorImg {
  width: 450px;
  height: 550px;
}

.contenedorImg img {
  width: 295px;
  height: 500px;
  object-fit: contain;
}

.contenedorTexto {
  width: 703px;
  height: 601px;
}

.contenedorH1 {
  width: 290px;
  margin: 150px 0 0 57px;
}

.contenedorH1 h1 {
  font-family: "Raleway", sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
  color: #515361;
  margin: 0 0;
}

.contenedorParrafo {
  width: 558px;
  height: 245px;
  /* margin: 32px 0 149px 0; */
}

.linea {
  width: 100px;
  margin: 8px 75px;
  height: 3px;
  background-color: #ffcc43;
}

.contenedorParrafo p {
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  font-weight: 200;
  color: #708290;
}

@media (min-width: 360px) and (max-width: 1024px) {
  .featuresSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
    background-color: #f9fafc;
  }

  .contenedorTitulo {
    margin-top: 25px;
  }

  .contenedorTitulo h2 {
    font-family: "Raleway", sans-serif;
    font-size: 24px;
    font-weight: bold;
    color: #170f49;
  }

  .contenedorInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5rem 0px;
    height: auto;
  }

  .contenedorImg {
    width: auto;
    height: 359px;
  }

  .contenedorImg img {
    width: 240px;
    height: 359px;
    border-radius: 0 0 30px 30px;
    object-fit: contain;
  }

  .contenedorTexto {
    width: auto;
    height: auto;
    text-align: center;
  }

  .contenedorH1 {
    width: auto;
    margin: 15px 0 0 0;
  }

  .contenedorH1 h1 {
    font-family: "Raleway", sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
    color: #515361;
    margin: 0 0;
  }

  .contenedorParrafo {
    width: 300px;
    height: 142px;
    /* margin: 32px 0 149px 0; */
  }

  .linea {
    width: 100px;
    margin: 8px 75px;
    height: 3px;
    background-color: #ffcc43;
  }

  .contenedorParrafo p {
    font-family: "Raleway", sans-serif;
    font-size: 15px;
    font-weight: 200;
    color: #708290;
  }
}
