.section {
  display: flex;
  align-items: center;
}
.contenedorTextos {
  width: 686px;
}

.contenedorh1 {
  margin: 50px 0 0 98px;
  width: 500px;
}

.contenedorh1 h1 {
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  font-weight: bold;
  color: #170f49;
}

.contenedorParrafo {
  margin: 0 0 15px 114px;
  width: 530px;
  height: 114px;
}

.contenedorParrafo p {
  font-family: "Raleway", sans-serif;
  font-size: 25px;
  font-weight: 200;
  color: #170f49;
}

.contenedorBoton {
  margin-left: 114px;
}

.contenedorImagen {
  display: flex;
  justify-content: flex-end;
  width: 754px;
  z-index: 4;
}

.contenedorImagen img {
  width: 470px;
  height: 516px;
}
