.contenedorMain {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f9fafc;
}

.contenedorTitulo {
  width: 778px;
}

.contenedorImgMobile {
  display: none;
}

.contenedorTitulo h1 {
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  color: #170f49;
  font-size: 40px;
  text-align: center;
}

.contenedorParrafo {
  display: flex;
  margin-left: 70px;
}

.items {
  width: 280px;
  margin: 0 58px;
}

.items h1 {
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  color: #282828;
  font-size: 24px;
}

.items p {
  font-family: "Raleway", sans-serif;
  font-weight: 200;
  color: #708290;
  font-size: 20px;
}

@media (min-width: 360px) and (max-width: 768px) {
  .contenedorImg {
    display: none;
  }
  .contenedorParrafo {
    display: none;
  }

  .contenedorTitulo {
    width: 360px;
  }

  .contenedorTitulo h1 {
    font-family: "Raleway", sans-serif;
    font-weight: bold;
    color: #170f49;
    font-size: 24px;
    text-align: center;
    padding: 0 30px;
  }

  .contenedorImgMobile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .itemMobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
  }

  .itemMobile img {
    margin-right: 25px;
  }
  .contenedorTextoMobile h1 {
    font-family: "Raleway", sans-serif;
    font-weight: bold;
    color: #282828;
    font-size: 24px;
    text-align: center;
  }
  .contenedorTextoMobile p {
    font-family: "Raleway", sans-serif;
    font-weight: 200;
    color: #708290;
    width: 250px;
    padding: 0 28px;
    text-align: center;
  }
}

@media (min-width: 1024px) {
  .contenedorImg {
    display: block;
  }
  .contenedorParrafo {
    display: flex;
  }

  .contenedorImgMobile {
    display: none;
  }

  .contenedorParrafo {
    display: flex;
    margin-left: 70px;
  }

  .items {
    width: 200px;
    margin: 0 58px;
  }
}
