.contenedorCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 344px;
  height: 607px;
  box-shadow: 0px 0px 20px 0px rgba(55, 26, 134, 0.3);
  border-radius: 12px;
  transition: transform 0.2s;
}

.contenedorCard:hover {
  transform: scale(1.05);
}

.contenedorTitulo h1 {
  font-size: 20px;
  font-weight: 600;
  font-family: "Raleway", sans-serif;
  color: #170f49;
}

.firstLetter {
  font-size: 32px;
  font-weight: 600;
  font-family: "Raleway", sans-serif;
  color: #170f49;
}

.contenedorTitulo h2 {
  font-size: 45px;
  font-weight: 600;
  font-family: "Raleway", sans-serif;
  color: #170f49;
}

.contenedorItems {
  width: 300px;
}

.icon {
  color: #000;
}

.contenedorItems p {
  font-size: 16px;
  font-weight: 200;
  font-family: "Raleway", sans-serif;
  color: #708290;
}

.contenedorButton {
  margin-top: 55px;
}

.contenedorCardPremium {
  display: flex;
  position: relative; /* Contenedor posicionado para elementos absolutos */
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fadcb1;
  width: 344px;
  height: 607px;
  box-shadow: 0px 0px 20px 0px rgba(55, 26, 134, 0.3);
  border-radius: 12px;
  transition: transform 0.2s;
}

.contenedorCardPremium:hover {
  transform: scale(1.05);
}

.logoPro {
  display: flex;
  width: 344px;
  position: absolute;
  justify-content: flex-end;
  top: 0;
}
